extends layout

block content
  h1= title
  h1
    a(href=`${url.users}`) USERS
  h1
    a(href=`${url.roles}`) ROLES
  h1
    a(href=`${url.roles_detail}`) ROLE DETAIL
  h1
    a(href=`${url.clients}`) CLIENTS

  h1
    a(href=`${url.client_detail}`) CLIENT DETAIL
  h1
    a(href=`${url.actions}`) ACTIONS
  h1
    a(href=`${url.resources}`) RESOURCES
  h1
    a(href=`${url.sampleMainMenu}`) SAMPLE MAIN MENU
  h1
    a(href=`${url.framework}`) FRAMEWORK
  h1
    a(href=`${url.framework_detail}`) FRAMEWORK DETAIL
  h1
    a(href=`${url.survey_templates}`) SURVEY TEMPLATE
  h1
    a(href=`${url.survey_templates_detail}`) SURVEY TEMPLATE DETAIL
  
