extends layout

block content
  h1= title




  h1
    a(href=`${url.purgeClinet}`) PURGE_CLINET
  h1
    a(href=`${url.purge}`) PURGE
  h1
    a(href=`${url.notification}`) NOTIFICATION
  h1
    a(href=`${url.assess_sidenav}`) ASSESS SIDENAV
  h1
    a(href=`${url.assess_maturity_current}`) ASSESS MATURITY CURRENT
  h1
    a(href=`${url.assess_maturity_domain}`) ASSESS MATURITY DOMAIN
  h1
    a(href=`${url.assess_target}`) ASSESS TARGET
  h1
    a(href=`${url.assess_readiness_current}`) ASSESS READINESS CURRENT
  h1
    a(href=`${url.assess_readiness_domain}`) ASSESS READINESS DOMAIN
  h1
    a(href=`${url.assess_ssa_current}`) ASSESS SSA CURRENT
  h1
    a(href=`${url.assess_ssa_domain}`)  ASSESS SSA DOMAIN

  h1
    a(href=`${url.reports_maturity}`) REPORTS MATURITY
  h1
    a(href=`${url.reports_readiness}`) REPORTS READINESS
  h1
    a(href=`${url.reports_ssa}`)  REPORTS SSA
  h1
  
  h1
    a(href=`${url.getSTAKEHolderById}`) GET STAKE HOLDER BY ID
  h1
    a(href=`${url.addSTAKEHolder}`) PROFILE ADD STAKE HOLDER
  h1
    a(href=`${url.STAKEHolderWiseRating}`) PROFILE STAKE HOLDER WISE RATING
  h1
    a(href=`${url.jewelInfo}`) PROFILE CROWN JEWEL
  h1
    a(href=`${url.profileMenu}`) PROFILE MENU
  h1
    a(href=`${url.surveyInfo}`) PROFILE SURVEY INFO
  h1
    a(href=`${url.assessmentInfo}`) ASSESSMENT INFO
  h1
    a(href=`${url.riskAppetite}`) RISK Appetite

  h1
    a(href=`${url.crownJewel}`) CROWN JEWEL
  h1
    a(href=`${url.gaps}`) GAPS
  h1
    a(href=`${url.orgInfo}`) ORG INFO
  h1
    a(href=`${url.gapsById}`) GAPSBYID
  h1
    a(href=`${url.initiatives}`) INITIATIVES
  h1
    a(href=`${url.recomendation}`) RECOMENDATION
  
  h1
    a(href=`${url.maturity}`) MATURIY
  h1
    a(href=`${url.maturity_new}`) MATURIY_NEW
  h1
    a(href=`${url.readiness}`) READINESS
  h1
    a(href=`${url.security}`) SECURITY
  h1
    a(href=`${url.clients}`) CLIENTS
  h1
    a(href=`${url.client_detail}`) CLIENT DETAIL
  h1
    a(href=`${url.actions}`) ACTIONS
  h1
    a(href=`${url.resources}`) RESOURCES
  h1
    a(href=`${url.sampleMainMenu}`) SAMPLE MAIN MENU
  h1
    a(href=`${url.framework}`) FRAMEWORK
  h1
    a(href=`${url.framework_detail}`) FRAMEWORK DETAIL
  h1
    a(href=`${url.survey_templates}`) SURVEY TEMPLATE
  h1
    a(href=`${url.survey_templates_detail}`) SURVEY TEMPLATE DETAIL
  h1
    a(href=`${url.interview_templates_detail}`) INTERVIEW TEMPLATE DETAIL

  h1
    a(href=`${url.maturity_model}`) MATURITY MODEL
  h1
    a(href=`${url.maturity_model_detail}`)  MATURITY MODEL DETAIL
  h1
    a(href=`${url.scoring_logic}`) SCORING LOGIC
  h1
    a(href=`${url.scoring_logic_detail}`) SCORING LOGIC DETAIL
  h1
    a(href=`${url.mapping}`) MAPPING 
  h1
    a(href=`${url.mapping_detail}`) MAPPING DETAIL

  h1
    a(href=`${url.users}`) USERS
  h1
    a(href=`${url.roles}`) ROLES
  h1
    a(href=`${url.roles_detail}`) ROLE DETAIL
  
